# =========================
# MySQL
# =========================
DB_ENABLED=true
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=jte
DB_PASS=
DB_NAME=jte

# =========================
# Redis (worker com BullMQ)
# =========================
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=

# =========================
# Worker
# =========================
CONCURRENCY=4
MESES=6
VARAS=0

# =========================
# Scraper
# =========================
# HEADLESS=false para ver o browser (debug)
HEADLESS=true
# DEBUG_HTML=1 para salvar HTML de debug dos processos
DEBUG_HTML=0
